@page "/pictures/add"
@inject PictureDbContext _dbContext;
@using BoriskinWebKr.DAO.Contexts;
@using BoriskinWebKr.DAO.Models;

<PageTitle>Добавить картину</PageTitle>

<h1>Заполните форму ниже для добавления картины</h1>

<EditForm Model="@picture" OnSubmit="@Add">
    <InputText id="name" @bind-Value="picture.Name" />
    <InputText id="description" @bind-Value="picture.Name" />
    <InputFile id="pic" OnChange="@LoadFile" />
    <button type="submit">Сохранить</button>
</EditForm>

@code {
    private Picture picture = new();

    private void Add()
    {
        _dbContext.Pictures.Add(picture);
        _dbContext.SaveChanges();
    }

    private void LoadFile(InputFileChangeEventArgs e)
    {
        var path = Path.Combine(System.IO.Directory.GetCurrentDirectory(), "wwwroot", "img", Guid.NewGuid().ToString());
        using var fs = new FileStream(path, FileMode.Create);
        var file = e.File;
        var maxSize = (long)1024 * 1024 * 1024 * 20; // 20 MB
        file.OpenReadStream(maxSize).CopyTo(fs);
    }
}
