@page "/"

<PageTitle>Картинная галерея</PageTitle>

<h1>Добро пожаловать в картинную онлайн-галерею!</h1>

<p><a href="/pictures">Перейти к картинам</a></p>
<p><a href="/painters">Перейти к художникам</a></p>