@page "/pictures"
@using BoriskinWebKr.DAO.Contexts;
@using BoriskinWebKr.DAO.Models;
@using System.Drawing;
@inject PictureDbContext _dbContext;

<h3>Картины</h3>

@if (_pictures is null)
{
    <p>Загрузка...</p>
}
else
{
    <div class="my-container">
        @foreach (var pic in _pictures)
        {
            <img src="data:image/jpeg;base64, @(Convert.ToBase64String(pic.Content))" />
            <a href="/pictures/@pic.Id"> <p align="center">@pic.Name</p> </a>
        }
    </div>
}

@code {
    private List<Picture> _pictures;

    protected override void OnInitialized()
    {
        _pictures = _dbContext.Pictures.ToList();
        base.OnInitialized();
    }
}
